<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
   

    <title>Admin Panel</title>
    <link th:href="@{/img/favicon.png}" rel="icon">

    <!-- Bootstrap Core CSS -->
    <link href="/pcss/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="/pcss/metisMenu.min.css" rel="stylesheet" />

    <!-- Timeline CSS -->
    <link href="/pcss/timeline.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/pcss/startmin.css" rel="stylesheet" />

    <!-- Morris Charts CSS -->
    <link href="/pcss/morris.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/pcss/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <div th:replace="fragments/adminnav :: adminnav"></div>

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">26</div>
                      <div>New Comments!</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"
                      ><i class="fa fa-arrow-circle-right"></i
                    ></span>

                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-edit fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge" th:text="${blog_count}"></div>
                      <div>Blogs!</div>
                    </div>
                  </div>
                </div>
                <a th:href="@{/admin/panel/blog}">
                  <div class="panel-footer">
                    <span class="pull-left">View Blogs</span>
                    <span class="pull-right"
                      ><i class="fa fa-arrow-circle-right"></i
                    ></span>

                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
             <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-edit fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge" th:text="${project_count}"></div>
                      <div>Projects!</div>
                    </div>
                  </div>
                </div>
                <a th:href="@{/admin/panel/project}">
                  <div class="panel-footer">
                    <span class="pull-left">View Projects</span>
                    <span class="pull-right"
                      ><i class="fa fa-arrow-circle-right"></i
                    ></span>

                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
           
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/pjs/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/pjs/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/pjs/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/pjs/raphael.min.js"></script>
    <script src="/pjs/morris.min.js"></script>
    <script src="/pjs/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/pjs/startmin.js"></script>
  </body>
</html>
